@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");


form{
  margin: 50px auto 0 auto; 
  max-width: 1000px;
  width: 80%;
  padding: 20px 15px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

form input,
form select,
form textarea {
  width: 100%;    
  margin-bottom: 15px; 
  padding: 10px;
  border-radius: 6px;
  border:1px solid #546D79;
  box-sizing: border-box;
  width: 100%;
 width: 100%;
  transition: border-color 0.3s, box-shadow 0.3s;
}

      
  
h2 {
      text-align: center;
      font-size: 15;
      margin-bottom: 10px;
      color: #546D79;
    }

    h4 {
      text-align: center;
  
      color: #546D79;
    }

    

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
    }

    input, select, textarea {
        width: 100%;
        padding: 10px 12px;
        border-radius: 8px;
        border: 1px solid rgba(255, 255, 255, 0.9);
        margin-bottom: 16px;
        font-size: 14px;
        transition: border-color 0.3s, box-shadow 0.3s;
        border-color: rgba(255, 255, 255, 0.9);
        solid: #546D79;
    
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #A4B8CC;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s;
    }

    select {
    background: white; 
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
    }

select:focus {
    outline: none;
    color: white;
}
.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 6px;
  display: none;
  flex-direction: column;
  z-index: 10;
}

.options div {
  padding: 10px;
  transition: background 0.3s;
}


